# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# OS
.DS_Store
Thumbs.db

# Evidence & data
evidence/
reports/
uploads/
dataset/

# Secrets
.env
*.env

# Mongo
*.bson

# Models cache
.insightface/
